doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js")
    script(src="/socket.io/socket.io.js")
    script(src="https://webrtc-experiment.appspot.com/meeting/meeting.js")
    script(src='/javascripts/init.js')
  body
    block content